/* src/containers/Dashboard.css */

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}